body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Le style du bonus (rouge et gras) */
.rouge {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}